
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color: rgb(55, 6, 100);
}
.inside-the-page {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: white;
    text-align: center;
}
.title{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}
.image {
    width: 25%;
    border-radius: 5%;
    margin-top: 20px;
    
    
}

